*

!.gitignore
!TODO.md
!install.sh
!README.md
!.tmux.conf
!Dockerfile
!.dockerignore

!/scripts
!scripts/*
!/config
!config/*
!/.config
!/config/apt
!config/apt/*
!/.config
.config/*
!/.config/nvim
.config/nvim/*
!.config/nvim/init.nvim
!/.config/fish
.config/fish/*
!.config/fish/config.fish
