*

!.gitignore
!install.sh
!README.md
!.tmux.conf
!Dockerfile

# Must be a better way to do this..
!/config
!config/*
!/.config
.config/*
!/.config/nvim
.config/nvim/*
!.config/nvim/init.nvim
!/.config/fish
.config/fish/*
!.config/fish/config.fish
